
<h1>Dogs</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Gender</th>
      <th>Breed</th>
      <th>Size</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @dogs.each do |dog| %>
      <tr>
        <td><%= link_to "#{dog.name.capitalize}", dog_path(dog) %></td>
        <td><%= dog.gender %></td>
        <td><%= dog.breed %></td>
        <td><%= dog.size %></td>
        <td><%= image_tag dog.picture, class:'rounded float-left', width: 120  if dog.picture.attached? %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


