<p id="notice"><%= notice %></p>

<p>
  <h1> <%= @dog.name %> the Wingman</h1>
</p>

<p>
  <strong>Gender:</strong>
  <%= @dog.gender %>
</p>

<p>
  <strong>Breed:</strong>
  <%= @dog.breed %>
</p>

<p>
  <strong>Size:</strong>
  <%= @dog.size %>
</p>

<p>
  <strong>Age:</strong>
  <%= @dog.age %>
</p>

<p>
  <strong>Likes:</strong>
  <%= @dog.likes %>
</p>

<p>
  <strong>Dislikes:</strong>
  <%= @dog.dislikes %>
</p>

<%= link_to 'Edit', edit_dog_path(@dog) %> |
<%= link_to 'Back', dogs_path %>
