<p id="notice"><%= notice %></p>

<p>
  <h1> <%= @dog.name %> the Wingman</h1>
</p>
<div class="container">
  <div class="row">
    <div class="col">
    <%= image_tag @dog.picture, class:'rounded float-left', width: 250 if @dog.picture.attached? %>
    </div>
  <div class="col">
  <p>
    <strong>Gender:</strong>
    <%= @dog.gender %>
  </p>

  <p>
    <strong>Breed:</strong>
    <%= @dog.breed %>
  </p>

  <p>
    <strong>Size:</strong>
    <%= @dog.size %>
  </p>

  <p>
    <strong>Age:</strong>
    <%= @dog.age %>
  </p>

  <p>
    <strong>Likes:</strong>
    <%= @dog.likes %>
  </p>

  <p>
    <strong>Dislikes:</strong>
    <%= @dog.dislikes %>
  </p>

  <% if @dog.price %>
  <p>
    <%= number_to_currency @dog.price %> per day
    <%= link_to "Rent now", new_order_path(dog_id: @dog.id), class:"btn btn-dark" %>
  </p>
  <% end %>
    <%= link_to 'Back', dogs_path, class:"btn btn-dark" %>
  
  </div>
  </div>
</div>
